$root-font-size             : 16px;
$gap                        : 30px;
$base-color                 : #ffffff;
$text-color                 : #4A4A4A;
$background-color           : #3C485E;
$muted-text-color           : #999999;

$item-color-01              : #FF5B5A;
$item-color-02              : #F5C86F;
$item-color-03              : #77B852;
$item-color-04              : #7E9BFF;

$custom-google-font         : 'Open Sans', sans-serif;
$item-border-radius         : 20px;

$item-media-size            : 64px;
$item-media-circle          : 120px;
$item-media-shadow-size     : 150px;
$list-item-height           : 30px;
$button-height              : 44px;
$heading-letter-spacing     : 5px;
$item-heading-circle        : 400px;